<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mvvm</title>
</head>

<body>
    <div id="app" style="text-align: center;margin-top: 100px;">
        <input type="text" v-model="message">
        {{ message}} <br><br>
        <input type="text" v-model="info.name">
        {{ info.name}}
    </div>
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script src="./js/dep.js"></script>
<script src="./js/watcher.js"></script>
<script src="./js/observer.js"></script>
<script src="./js/compile.js"></script>
<script src="./js/mvvm.js"></script>
<script>
    let vm = new MVVM({
        el: '#app',
        data: {
            message: 'Hello MVVM',
            info:{
                name:"zhangsan"
            }
        }
    });
</script>

</html>